<h3>Enter Your Username to Login</h3>

<% if flash[:errors] %>
  <p style="color:red"><%= flash[:errors] %></p>
<% end %>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <input name=name>
  <input type=submit value='login'>
<% end %>

